/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #eae9e9;
}
*/

/*livro no site*/
.container{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    padding-top: 10px;
    gap: 15px;
    justify-items: center;
}

.card{
    display: inline-flex;
    width: 80%;
    height: 100%;

    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    transition: 1.1s;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
}

.card:hover{
    background-color: #f6f6f6;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.books-image{
    width: 90%;
    height: 80%;
}

.add{
    width: 70%;
    border: none;
    border-radius: 10px;
    padding: 5px;
    color: #fff;
    background-color: #F53F3C;
    cursor: pointer;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/*livro no carrinho*/
.modal{
    margin: auto;
    background-color: #ebe4ca;
}

/*Titulo do modal*/
.modal > h2{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*Livros*/
.item{
    padding: 10px;
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.img_item_cart{
    width: 10%;
    height: 10%;
}

.hide{
    display: none;
}

/* Envolta do nome */
.wrap_name_cart{
    display: block;
    width: 40%;
    overflow-wrap: break-word;
}

/* nome e preco do livro */
.wrap_name_cart > .name_book_cart, .price_cart{
    font-size: 20px;
}

/* envolta da quantidade */
.item > .wrap_quant_cart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
} 

/* botoes de remover e adicionar quantidades*/
.item > .wrap_quant_cart > .button_minus, .item > .wrap_quant_cart > .button_plus{
    padding: 5px;
    border: none;
    background-color: transparent;
    font-size: 17px;
}

/* quantidade */
.item > .wrap_quant_cart > .quantity_cart{
    width: 60px;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;

    border: none;
    background-color: rgb(255, 255, 255);
}

.item > .wrap_quant_cart > .quantity_cart:focus{
    outline: 0;
}

/* envolta do botao de comprar*/
.button_buy{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 8px;
}

/* botao de comprar */
.comprar{
    width: 50%;
    padding: 8px;
    border-radius: 10px;
    background-color: #5b6096c3;
    color: #fff;
}

/* envolta do total*/
.wrap_total{
    width: 100%;
    border-top: 2px solid #000;
    display: flex;
    justify-content: flex-end;
}

/* total */
.wrap_total > .total{
    font-size: 20px;
}

/* x de excluir o livro do carrinho*/
.remove_item{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #F53F3C;
    cursor: pointer;
}