*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #ececec;
}

.interface{
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 1%;
}

section.categories, section.books-grid{
    margin: 20px 0;
}

/*cabeçalho*/
header{
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
    gap: 4%;
    background-color: #fff;
}

.container-logo{
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-image{
    width: 50%;
    height: 100%;
}

.container-logo strong{
    font-size: clamp(1rem, 3vw, 2rem);
}

.name-two{
    color: rgb(43, 43, 227);
}

/*barra de pesquisa*/
.container-search{
    background-color: #f1f1f1;
    width: 40%;
    height: 60%;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    gap: 8px;
}

.container-search input{
    height: 100%;
    width: 100%;
    border: none;
    margin-left: 1%;
    outline: 0;
    background-color: #f1f1f1;
    border-radius: 20px;
    font-size: clamp(0.85rem, 1.5vw, 1.1rem);
}

.container-search i{
    font-size: clamp(0.9rem, 2vw, 1.3rem);
    color: #555;
    margin-left: 2px;
}

.container-cart{
    font-size: clamp(0.9rem, 2vw, 1.3rem);
}

/* Card dos livros */
.book-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.book-card{
    background-color: #fff;
    border-radius: 0 0 15px 15px;
    display: flex;
    flex-direction: column;
    
    width: 100%;        
    height: 100%;
    transition: all 0.3s ease;
    cursor: pointer;
}

.book-card:hover{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.book-card .book-image {
    height: 60%;
}

.book-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* garante que a imagem preencha o espaço sem distorção */
}

.book-card .txt-book{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.category {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.category span {
    border: 1px solid #ccc;
    padding: 3px 8px;
    border-radius: 8px;
    font-size: 12px;
    background-color: #f5f5f5;
}

.book-card .txt-book .name-book{
    font-weight: 800;
    padding: 5px 0 0 0;
}

.book-card .txt-book .authors{
    color: rgb(165, 165, 165);
}

.book-card .txt-book .rating{
    font-weight: 200;
    margin-bottom: 8px;
}

.txt-book .rating i{
    color: rgb(255, 193, 7);
    margin-right: 4px;
}

.name-book, .authors, .rating{
    margin: 3px 0;
}

.book-card .txt-book .buy{
    margin-top: auto;

    display: flex;
    justify-content: space-between;
}

.buy .price{
    font-weight: bold;
    color: rgb(39, 39, 198);
    font-size: 1.5em;
}

.buy button{
    border-radius: 15px;
    padding: 8px;
    border: none;
    color: #fff;
    background-color: rgb(39, 39, 198);
    cursor: pointer;
}

.buy button:hover{
    background-color: rgb(29, 29, 148);
}

.buy button i, .buy button span{
    margin: 0 8px;
}